body {
    font-family: "Roboto", Arial;
    font-size: 20px;
}


nav {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    padding-right: 50vh;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    padding-right: 20px;
}

nav a:hover {
    color: olivedrab;
}


form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: grid;
    margin: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.submit-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #4caf50;
    font-size: 18px;
    width: 40%;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease-in-out;
}


button:hover {
    color: olivedrab;
    transform: scale(1.1);
}

